html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
/*
font-family: "Oswald", sans-serif;
 font-family: "Open Sans", sans-serif;
 */
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
/* Цвета */
:root {
    --accent-color:#F7654A;
    --gray-color:#999999;
    --dark-color:#404149;
    --white-color:#FFFFFF;
    --background-color: #E5E5E5;
}
/* Стили для текста*/
.text-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--dark-color);
}
.text-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-color);
}
.text-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: var(--white-color);
}
text-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
}
text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.header {
    min-height: 740px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 115px;
}
.logo {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* background-color: var(--accent-color); */
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color:#FFF;
    margin-bottom: 4px;
}
.burger__line:last-child {
     margin-bottom: 0;
}
.h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto; 
}
@media screen and (max-width: 380px){
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}
.h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    max-width: 734px;
    margin: 19px auto 0 ;
}
/* Блок About */
.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translatex(-50%);
    background-color: #f7f7f7;
    min-height: 300px;
    max-width: 1110px;
    width: 100%;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-items {
    text-align: center;
    width: 190px;
   
}
.about__h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 6px;
}
.about__h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.about__p {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px){
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .info {
        position: relative;
    }
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
.about__flex {
    display: flex;
    
}
.project-h2 {
    text-align: center;
    margin-bottom: 52px;
}

.about__flex-item {
    width: 350px;
    margin-right: 30px;
}
.about__flex-item:last-child {
    margin-right: 0;
}
.project-img {
     width: 350px;
    margin-bottom: 44px;
}
.about__flex-line {
    width: 55px;    
    height: 6px;
    background: var(--accent-color);
    margin-bottom: 14px;
}

.project-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px){
    .about {
        padding: 450px 15px 110px 15px;
    }
}
@media screen and (max-width: 768px){
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .about__flex {
        flex-direction: column;
        align-items:center;
    }
    .about__flex-item {
         margin-right: 0;
         margin-bottom: 30px;
    }    
    .about__flex-item:last-child {
    margin-bottom: 0;
}
}
/* request */
.request {
    background-color: var(--accent-color);
   padding-bottom: 40px;
}
.request__flex {
    display: flex;
    justify-content: space-between;
    align-items:center
}

.request__h4 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 7px;
}
.request__h5 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;
}

.request__btn {
    margin-top: 53px;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items:center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    padding: 14px 30px;
}
.request__icon {
    margin-right: 15px;
}

@media screen and (max-width: 1280px){
    .request {
        padding: 0 15px;
    }
}
@media screen and (max-width: 768px){
   .request__flex {
    flex-wrap: wrap;
    padding-bottom: 45px;
   } 
}
/* services */
.services {
    padding-top: 148px;
    padding-bottom: 150px;
    
}
.section-h2 {
    padding-bottom: 55px;
    text-align: center;
    color: #000;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    
}
.services__grid-item {
    background: #f7f7f7;
    width: 350px;
    padding-top: 57px;
    padding-bottom: 59px;
}
.services__icon {
    margin: 0 auto 24px;
}

.services-h4 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    max-width: 172px;
}


@media screen and (max-width: 1280px){
     .services {
         padding-top: 148px;
        padding: 148px 15px 0;
    }
   
    .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);      
    }
    .services__grid-item {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
      .services {
         padding-top: 120px;
        padding: 148px 15px 0;
    }
        .services__grid {
    grid-template-columns: repeat(1, 1fr);
    }
}