html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
/*
font-family: "Oswald", sans-serif;
 font-family: "Open Sans", sans-serif;
 */
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
/* Цвета */
:root {
    --accent-color:#F7654A;
    --gray-color:#999999;
    --dark-color:#404149;
    --white-color:#FFFFFF;
    --background-color: #E5E5E5;
}
/* Стили для текста*/
.text-h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--dark-color);
}
.text-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-color);
}
.text-h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: var(--white-color);
}
text-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
}
text-p-reviews {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.header {
    min-height: 740px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 115px;
}
.logo {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* background-color: var(--accent-color); */
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color:#FFF;
    margin-bottom: 4px;
}
.burger__line:last-child {
     margin-bottom: 0;
}
.h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto; 
}
@media screen and (max-width: 380px){
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}
.h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    max-width: 734px;
    margin: 19px auto 0 ;
}
/* Блок About */
.about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translatex(-50%);
    background-color: #f7f7f7;
    min-height: 300px;
    max-width: 1110px;
    width: 100%;
    padding: 57px 130px;
}
.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}
.about__grid-items {
    text-align: center;
    width: 190px;
   
}
.about__h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 6px;
}
.about__h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.about__p {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px){
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .info {
        position: relative;
    }
    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
.about__flex {
    display: flex;
    
}
.project-h2 {
    text-align: center;
    margin-bottom: 52px;
}

.about__flex-item {
    width: 350px;
    margin-right: 30px;
}
.about__flex-item:last-child {
    margin-right: 0;
}
.project-img {
     width: 350px;
    margin-bottom: 44px;
}
.about__flex-line {
    width: 55px;    
    height: 6px;
    background: var(--accent-color);
    margin-bottom: 14px;
}

.project-h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
}

@media screen and (max-width: 1280px){
    .about {
        padding: 450px 15px 110px 15px;
    }
}
@media screen and (max-width: 768px){
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .about__flex {
        flex-direction: column;
        align-items:center;
    }
    .about__flex-item {
         margin-right: 0;
         margin-bottom: 30px;
    }    
    .about__flex-item:last-child {
    margin-bottom: 0;
}
}
/* request */
.request {
    background-color: var(--accent-color);
   padding-bottom: 40px;
}
.request__flex {
    display: flex;
    justify-content: space-between;
    align-items:center
}

.request__h4 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 7px;
}
.request__h5 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;
}

.request__btn {
    margin-top: 53px;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items:center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    padding: 14px 30px;
}
.request__icon {
    margin-right: 15px;
}

@media screen and (max-width: 1280px){
    .request {
        padding: 0 15px;
    }
}
@media screen and (max-width: 768px){
   .request__flex {
    flex-wrap: wrap;
    padding-bottom: 45px;
   } 
}
/* services */
.services {
    padding-top: 148px;
    padding-bottom: 150px;
    
}
.section-h2 {
    padding-bottom: 55px;
    text-align: center;
    color: #000;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    
}
.services__grid-item {
    background: #f7f7f7;
    width: 350px;
    padding-top: 57px;
    padding-bottom: 59px;
}
.services__icon {
    margin: 0 auto 24px;
}

.services-h4 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    max-width: 172px;
}


@media screen and (max-width: 1280px){
     .services {
         padding-top: 148px;
        padding: 148px 15px 0;
    }
   
    .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);      
    }
    .services__grid-item {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
      .services {
         padding-top: 120px;
        padding: 148px 15px 0;
    }
        .services__grid {
    grid-template-columns: repeat(1, 1fr);
    }
}
/* portfolio */
.portfolio {
}
.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.portfolio__grid-items {
}
.portfolo-img{
}


@media screen and (max-width: 1280px){
    .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);  
    }
}
@media screen and (max-width: 768px){
        .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* question */

.question {
    padding-top: 150px;
    padding-bottom: 110px;
}
.section-h2 {
}
.question-h2 {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: -8px;
}
.question-items {
}
.question-item {
}

.question-h3 {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.question-h3.close {
    margin-bottom: 34px;
}
.question-h3.open {
    margin-bottom: 22px;
}
.question-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-color);
    margin-bottom: 40px;
    max-width: 730px;
}
.question-h3.open::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image:url(../img/Polygon-open.svg);
    background-repeat:no-repeat;
    background-position: center;
    margin-right: 14px;
    /* transform: rotate(90deg); */
}

.question-h3.close::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image:url(../img/Polygon-close.svg);
    background-repeat:no-repeat;
    margin-right: 14px;
}

.question-h3.close + .question-p {
    display: none;
}

@media screen and (max-width: 1280px){
  .question {
    padding: 150px 15px 110px;
}
}
@media screen and (max-width: 768px){
    .question {
    padding: 150px 15px 110px;
    }
}

/* partners */
.parnters {
   max-width: 1920px;
    height: 364px;
    background: var(--dark-color);
}

.partners-h2 {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 46px;
}
.partners__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partners__flex-item {
    width: 170px;
    height: 61px;
    
}

@media screen and (max-width: 1280px){
  .partners__flex  {
    padding-left: 15px ;
    justify-content: center;
    flex-wrap: wrap;
 
}
    .partners__flex-item {
           margin-right: 50px;
        }
      .partners__flex-item:nth-child(5) {
           margin-right: 0px;
        }    
}
@media screen and (max-width: 768px){
    .parnters {
   max-width: 1920px;
    max-height: 364px;
    margin-right: 10px;
    margin-left: 10px;

}
    .partners__flex  { 
    padding-left: 15px ;
    flex-wrap: wrap;
    }
}
/* reviews */

.reviews {
    padding-top: 150px;
    padding-bottom: 206px;
}
.reviews-h2 {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
}

.reviews_grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.reviews__grid-item {
    width: 350px;
    height: 259px;
    
}
.reviews__card{
    background: #f7f7f7;
    padding: 30px;
    margin-bottom: 38px;

}
.reviews-icon {
    font-size: 96px;
    color: var(--accent-color);
    line-height: 1;
    margin-bottom: -47px;
}
.reviews-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-color);
    font-family: "Open Sans", sans-serif;
    
}

.reviews-h4 {
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
    color: #000;
}
.reviews-h4-span{
    color: var(--accent-color);
}

@media screen and (max-width: 1280px){
    .reviews_grid {
    gap: 30px;
    padding: 15px;
    grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 768px){
    .reviews_grid {
    padding: 15px;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
}
}
/* contacts */
.contacts {
    padding-top: 100px;
    padding-bottom: 150px;
}
.contacts-h2 {
    margin-bottom: 60px;
    text-align: center;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.contacts__grig-item {
}
.contacts_card {
    max-width: 255px;
    
}
.contacts-icon {
    justify-self: center;
    margin-bottom: 14px;
}
.contacts-h3.contacts-text  {
    justify-self: center;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 24px;
    color: var(--gray-color);
    text-transform: uppercase;
}
.contacts-text {
    text-align: center;
    color: #000;
}

.contacts-adress {
    text-align: center;
}

.contacts-icon-email{
    margin-bottom: 26px;
}
.contacts-h3-color {
     color: var(--accent-color);
}

@media screen and (max-width: 1280px){
    .contacts__grid{
        grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 768px){
    .contacts__grid{
        grid-template-columns: repeat(1, 1fr);
}
}

/* footer */
.footer {
    height: 82px;
    background-color: var(--dark-color);
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.footer__flex-item {
}

.footer-p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    }
